#cartMessage {
  text-align: center;
  padding: 10% 0 0 0;
}

#cartMessage a {
  background: #ff501c;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px 10px 15px;
  font-family: "MuseoSansCond-500", "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#cartMessage a:hover {
  color: #000;
}

#block-admin-order-redirect-check-current-cart-time {
  float: left;
  display: inline;
}

#countdown {
  background: url('../images/timer.png') no-repeat 2px 5px;
  font-size: 14px;
  float: left;
  box-shadow: none;
  padding: 0px 0px 0 0px;
  height: 40px;
  line-height: 56px;
  width: 84px;
  text-align: right;
  margin: 0px 0 15px 14px;
  font-weight: 300;
  color: #f05229;
  background-size: 15px;
  background-position: 1px 20px;
}

div#countdown span {
  font-weight: normal;
  color: #040732;
}

#cartTimeoutMessageContent {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#cartMessage {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}
